@model IEnumerable<WebBanSach.Models.SACH>
@{
    ViewBag.Title = "DSSach";
    Layout = "~/Ares/Admin/Views/Shared/Admin.cshtml";
}

<div class="container-sm" style="text-align:center">
    <h2 style="text-align: center">Danh Sách Sách</h2>

    <p style="text-align: end">
        @Html.ActionLink("TẠO MỚI", "CreateSach", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table" style="width: 100%; height:auto">
        <tr>
            <th>
                Mã Sách
            </th>
            <th>
                Tên Sách
            </th>
            <th>
                Đơn Giá
            </th>
            <th>
                Lệnh
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Masach)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tensach)
                </td>
                <td>
                    @Math.Round((decimal)item.Dongia, 3)đ
                </td>
                <td>
                    @Html.ActionLink("Sửa", "EditSach", "Admin", new { id = item.Masach }, new { @class = "btn btn-outline-primary" }) |
                    @Html.ActionLink("Chi Tiết", "DetailSach", "Admin", new { id = item.Masach }, new { @class = "btn btn-outline-info" }) |
                    @Html.ActionLink("Xóa", "DeleteSach", "Admin", new { id = item.Masach }, new { @class = "btn btn-outline-danger bg-red " })
                </td>
            </tr>
        }

    </table>
</div>
