<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8" />
    <meta name="keywords" content="BLLP, Bình Long Lượng Phát, BLLP.com, Bình Long Lượng Phát.com" />
    <meta name="author" content="BLLP" />
    <title>Nhà sách trực tuyến BLLP.com</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Content/mywebstyle.css" />
</head>
<body>
    <div id="wrapper">
        <div id="header" class="clearfix">
            <div class="container-fluid frst-Upper">
                <div class="marquee">
                    <div class="inner">
                        <span style="margin-inline-end: 50px">Đọc sách có thể không giàu, nhưng không đọc, chắc chắn nghèo!</span>
                        <span style="margin-inline-end: 50px">Bạn cô đơn ư? Đừng lo lắng. Mọi cuốn sách đều sẵn sàng kết thân với bạn!</span>
                        <span style="margin-inline-end: 50px">Đọc sách cho tâm trí cũng cần như thể dục cho cơ thể.</span>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-sm wp-inner">
                <div class="container-fluid container-sm p-2 my-0 col-md-12">
                    <a href="@Url.Action("Home", "TrangChu")" target="_self" class="col-md-2 navbar-brand" id="logo">BLLP.com</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class=" navbar-collapse col-sm-12" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="col-md-1 offset-md-1">
                                <div class="dropdown" style="width: auto; height: auto; top: 7px; right: 30px;">
                                    <img class="navbar-brand" id="logoMenu" src="~/Content/Images/Icon_Menu.png" alt="Error Icon_Menu">
                                    <div class="dropdown-menu dropdown-content">
                                        <table height="200">
                                            @Html.Action("ChonSachQuaChuDe", "SACHes")
                                        </table>
                                    </div>
                                </div>
                            </li>


                            <li class="col-md-4 nav-item" style="width: auto; height: auto; position: relative; bottom: 7px;">
                                <div>
                                    @using (Html.BeginForm("SearchPage", "TrangChu", new {num = "Default"}))
                                    {
                                        <input id="SearchBar" type="text" name="searchQuery" size="34" maxlength="37" placeholder="Tên sách..." style="width: auto" value="@ViewBag.SearchString">
                                        <button class="bllp-btn-search" type="submit"><span class="material-symbols-outlined">search</span></button>

                                    }
                                </div>

                            </li>

                            <li class="col-md-5 nav-item" style="width: auto; height: auto;">
                                <div class="nav-link main-menu">
                                    <a href="@Url.Action("LoginRegister", "User", new {topic = "NofiContent"})" target="_self" class="nav-link item-header">
                                        <img src="~/Content/Images/Icon_Nofi 1.png" alt="Icon_Nofi 1.png bị lỗi" style="width: auto; margin-left: 37.5%;" />
                                        <div>Thông báo</div>
                                    </a>
                                    @Html.Action("CartPartial", "Cart")

                                <a href="@Url.Action("LoginRegister", "User", new {topic = "AcountInfo"})" target="_self" class="nav-link item-header">
                                    <img src="~/Content/Images/Icon_Account 2.png" alt="Icon_Account 2.png bị lỗi" style=" width: auto; margin-left: 35%;" />
                                    <div>@Html.Action("LoginRegisterPartial", "User")</div>
                                   
                                </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
    <div class="div-center-Page">
        @RenderBody()
    </div>
    <div class="div-center-InfoWeb">

        <table border="1" class="table-Info_Web">
            <tr>
                <td rowspan="2" colspan="2" class="title-Info">
                    <a href="@Url.Action("Home", "TrangChu")" id="logo-end">
                     <img style="width: 80%; height: 80%" src="~/Content/Images/logobookstore.png" alt="logobookstore.png bị lỗi"/>
                    </a>
                </td>

                <td rowspan="7" style="border-right: groove; width: 50px; width: auto; padding: 0;">

                </td>

                <td>
                    DỊCH VỤ
                </td>

                <td>
                    HỖ TRỢ
                </td>

                <td>
                    TÀI KHOẢN CỦA TÔI
                </td>
            </tr>

            <tr>
                <td>
                    Giới thiệu BLLP
                </td>

                <td>
                    Chính sách vận chuyển
                </td>

                <td>
                    Đăng nhập/Tạo mới tài khoản
                </td>
            </tr>

            <tr>
                <td rowspan="4" colspan="2" style="text-align: justify;">
                    Lầu 4, 828 Sư Vạn Hạnh Quận 10 TP HCM<br />
                    Công Ty Cổ Phần Phát Hành Sách TP HCM - BLLP <br />
                    BLLP.com nhận đặt hàng trực tuyến và giao hàng tận nơi.
                    KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống BLLP trên toàn quốc.
                </td>


                <td>
                </td>

                <td>
                    Chính sách bảo hành - bồi hoàn
                </td>

                <td>
                    Lịch sử mua hàng
                </td>
            </tr>

            <tr>

                <td>
                </td>

                <td>
                    Chính sách đổi - trả - hoàn tiền
                </td>

                <td>
                </td>
            </tr>

            <tr>

                <td>
                    LIÊN HỆ
                </td>

                <td>
                </td>

                <td>
                </td>
            </tr>

            <tr>

                <td style="text-align: justify;">
                    Lầu 4, 828 Sư Vạn Hạnh Quận 10 TP HCM<br />
                    Công Ty Cổ Phần Phát Hành Sách TP HCM - BLLP
                </td>

                <td>
                    cskh@BLLP.com.vn
                </td>

                <td>
                    1900636467
                </td>
            </tr>
        </table>
        <div class="end-page-center">
            Giấy chứng nhận Đăng ký Kinh doanh số 0304132047 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 20/12/2005, đăng ký thay đổi lần thứ 1, ngày 23/10/2022.
        </div>
    </div>
</body>
</html>
