@model IEnumerable<WebBanSach.Models.DONDATHANG>
@{
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<link rel="stylesheet" href="~/Content/UserInfo.css" />
<div class="Size-Form">
    <div class="div-left-menu">
        <h2>TÀI KHOẢN</h2>
        <hr />
        <ol>
            <li>
                <a href="@Url.Action("LoginRegister", "User", new {topic = "AcountInfo"})">Thông tin tài khoản</a>
                <hr />
            </li>

            <li>
                <a href="@Url.Action("LoginRegister", "User", new {topic = "CartInfo"})">Đơn hàng của tôi</a>
                <hr />
            </li>

            <li>
                <a href="@Url.Action("LoginRegister", "User", new {topic = "NofiContent"})">Thông báo</a>
                <hr />
            </li>
            <li>
                <a href="@Url.Action("LogOut", "User")" target="_self">Đăng xuất</a>
                <hr />
            </li>

        </ol>
    </div>
    <div class="div-right-info">
        <div>@ViewBag.Title</div>
        <main>
            <table class="CartBoard" id="list1">
                <tr>
                    <td>
                        MÃ ĐƠN HÀNG
                    </td>

                    <td>
                        MÃ KHÁCH HÀNG
                    </td>

                    <td>
                        NGÀY ĐẶT HÀNG
                    </td>

                    <td>
                        TRỊ GIÁ
                    </td>

                    <td>
                        ĐÃ GIAO
                    </td>

                    <td>
                        NGÀY GIAO HÀNG
                    </td>

                    <td>
                        TÊN NGƯỜI NHẬN
                    </td>

                    <td>
                        ĐỊA CHỈ NHẬN
                    </td>

                    <td>
                        ĐIỆN THOẠI NHẬN
                    </td>

                    <td>
                        HÌNH THỨC THANH TOÁN
                    </td>
                    <td>
                        HÌNH THỨC GIAO HÀNG
                    </td>
                    <td></td>
                </tr>
                @foreach (var item in Model)
                {
                    if (item.Dagiao == false)
                    {
                        ViewBag.GiaoInfo = "Chưa Giao";
                    }
                    else
                    {
                        ViewBag.GiaoInfo = "Đã Giao";
                    }

                    if (item.HTThanhtoan == false)
                    {
                        ViewBag.HTThanhtoan = "Offline";
                    }
                    else
                    {
                        ViewBag.HTThanhtoan = "Online";
                    }

                    if (item.HTGiaohang == false)
                    {
                        ViewBag.HTGiao = "Offline";
                    }
                    else
                    {
                        ViewBag.HTGiao = "Online";
                    }
                    <tr class="item">

                        <td>
                            @item.SoDH
                        </td>

                        <td>
                            @item.MaKH
                        </td>

                        <td>
                            @item.NgayDH
                        </td>

                        <td>
                            @item.Trigia
                        </td>

                        <td>
                            @ViewBag.GiaoInfo
                        </td>

                        <td>
                            @item.Ngaygiaohang
                        </td>

                        <td>
                            @item.Tennguoinhan
                        </td>

                        <td>
                            @item.Diachinhan
                        </td>

                        <td>
                            @item.Dienthoainhan
                        </td>

                        <td>
                            @ViewBag.HTThanhtoan
                        </td>
                        <td>
                            @ViewBag.HTGiao
                        </td>
                        @*@using (Html.BeginForm())
                        {
                            <td><input type="submit" value="Xóa" /></td>
                        }*@

                    </tr>
                }
            </table>


            <nav class="pagination-container">
                <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">
                    &lt;
                </button>

                <div id="pagination-numbers">

                </div>

                <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">
                    &gt;
                </button>
            </nav>
        </main>
    </div>
</div>

<script>
    const paginationNumbers = document.getElementById("pagination-numbers");
    const paginatedList = document.getElementById("list1");
    const listItems = paginatedList.querySelectorAll(".item");
    const nextButton = document.getElementById("next-button");
    const prevButton = document.getElementById("prev-button");

    const paginationLimit = 6;
    const pageCount = Math.ceil(listItems.length / paginationLimit);
    let currentPage = 1;

    const disableButton = (button) => {
        button.classList.add("disabled");
        button.setAttribute("disabled", true);
    };

    const enableButton = (button) => {
        button.classList.remove("disabled");
        button.removeAttribute("disabled");
    };

    const handlePageButtonsStatus = () => {
        if (currentPage === 1) {
            disableButton(prevButton);
        } else {
            enableButton(prevButton);
        }

        if (pageCount === currentPage) {
            disableButton(nextButton);
        } else {
            enableButton(nextButton);
        }
    };

    const handleActivePageNumber = () => {
        document.querySelectorAll(".pagination-number").forEach((button) => {
            button.classList.remove("active");
            const pageIndex = Number(button.getAttribute("page-index"));
            if (pageIndex == currentPage) {
                button.classList.add("active");
            }
        });
    };

    const appendPageNumber = (index) => {
        const pageNumber = document.createElement("button");
        pageNumber.className = "pagination-number";
        pageNumber.innerHTML = index;
        pageNumber.setAttribute("page-index", index);
        pageNumber.setAttribute("aria-label", "Page " + index);

        paginationNumbers.appendChild(pageNumber);
    };

    const getPaginationNumbers = () => {
        for (let i = 1; i <= pageCount; i++) {
            appendPageNumber(i);
        }
    };

    const setCurrentPage = (pageNum) => {
        currentPage = pageNum;

        handleActivePageNumber();
        handlePageButtonsStatus();

        const prevRange = (pageNum - 1) * paginationLimit;
        const currRange = pageNum * paginationLimit;

        listItems.forEach((item, index) => {
            item.classList.add("hidden");
            if (index >= prevRange && index < currRange) {
                item.classList.remove("hidden");
            }
        });
    };

    window.addEventListener("load", () => {
        getPaginationNumbers();
        setCurrentPage(1);

        prevButton.addEventListener("click", () => {
            setCurrentPage(currentPage - 1);
        });

        nextButton.addEventListener("click", () => {
            setCurrentPage(currentPage + 1);
        });

        document.querySelectorAll(".pagination-number").forEach((button) => {
            const pageIndex = Number(button.getAttribute("page-index"));

            if (pageIndex) {
                button.addEventListener("click", () => {
                    setCurrentPage(pageIndex);
                });
            }
        });
    });

</script>


