@model WebBanSach.Models.KHACHHANG
@{
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<link rel="stylesheet" href="~/Content/UserInfo.css" />
<div class="Size-Form">
    <div class="div-left-menu">
        <h2>TÀI KHOẢN</h2>
        <hr />
        <ol>
            <li>
                <a href="@Url.Action("LoginRegister", "User", new {topic = "AcountInfo"})">Thông tin tài khoản</a>
                <hr />
            </li>

            <li>
                <a href="@Url.Action("LoginRegister", "User", new {topic = "CartInfo"})">Đơn hàng của tôi</a>
                <hr />
            </li>

            <li>
                <a href="@Url.Action("LoginRegister", "User", new {topic = "NofiContent"})">Thông báo</a>
                <hr />
            </li>
            <li>
                <a href="@Url.Action("LogOut", "User")" target="_self">Đăng xuất</a>
                <hr />
            </li>

        </ol>
    </div>
    <div class="div-right-info">
        <div>@ViewBag.Title</div>
        <table class="InfoBoard">
            @using (Html.BeginForm("EditInfo", "User", new { id = Model.MaKH }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                <tr>
                    <td class="colName">
                        Tên người dùng:
                    </td>

                    <td class="colInfo">
                        <span style="text-transform: uppercase"><input style="width: 100%" type="text" name="HoTenKH" placeholder="Nhập họ tên" value="@Model.HoTenKH" /></span>
                    </td>
                </tr>

                <tr>
                    <td class="colName">
                        Địa chỉ:
                    </td>

                    <td class="colInfo">
                        <span><input style="width: 100%" type="text" name="DiachiKH" placeholder="Nhập địa chỉ" value="@Model.DiachiKH" /></span>
                    </td>

                </tr>

                <tr>
                    <td class="colName">
                        Điện thoại:
                    </td>

                    <td class="colInfo">
                        <span><input style="width: 100%" type="tel" name="DienthoaiKH" placeholder="Nhập địa chỉ" value="@Model.DienthoaiKH" /></span>
                    </td>
                </tr>

                <tr>
                    <td class="colName">
                        Email:
                    </td>

                    <td class="colInfo">
                        <span><input style="width: 100%" type="email" name="Email" placeholder="Nhập số điện thoại" value="@Model.Email" /></span>
                    </td>
                </tr>

                <tr>
                    <td class="colName">
                        Tài khoản:
                    </td>

                    <td class="colInfo">
                        <span><input style="width: 100%" type="text" value="@Model.TenDN" disabled /></span>
                    </td>
                </tr>

                <tr>
                    <td class="colName">
                        Mật khẩu:
                    </td>

                    <td class="colInfo">
                        <span><input style="width: 100%" type="password" name="Matkhau" placeholder="Nhập mật khẩu mới" value="@Model.Matkhau" /></span>
                    </td>
                </tr>
                <tr style="text-align: center; margin-top: 40px;">
                    <td colspan="2">
                        <input style="width: 30%; border-radius: 8px; border: none; background-color: #C92127; color: white;" type="submit" value="Lưu thay đổi!">
                    </td>
                </tr>
            }
        </table>

    </div>
</div>

