@model IEnumerable<WebBanSach.Models.SACH>
@{
    ViewBag.Title = "TruyenTranh";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<link rel="stylesheet" href="~/Content/TieuThuyet.css" />
<link rel="stylesheet" href="~/Content/ProductStylePro.css" />
<div class="container-fluid div-right-product">
    <div class="row">
        @foreach (var sach in Model)
        {
            {
                <div class="card" style="width: 18rem;">
                    <a href="@Url.Action("ChiTiet","CustomerBook", new {  id = sach.Masach, @class = "btn btn-primary" })">
                        <img src="~/Content/Images/@sach.Hinhminhhoa" alt="@sach.Hinhminhhoa bị lỗi" class="card-img-top" />
                    </a>
                    <div class="card-body">
                        <a class="card-text" href="@Url.Action("ChiTietTruyenTranh","CustomerBook", new {  id = sach.Masach, @class = "btn btn-primary" })">
                            @sach.Tensach
                        </a>
                        <h5 class="card-title">@sach.Dongia đ</h5>
                    </div>
                </div>
            }
        }

    </div>
</div>

