@model IEnumerable<WebBanSach.Models.SACH>
@{
    int cd = ViewBag.maCD;
    decimal from = ViewBag.From;
    decimal to =  ViewBag.To;
    ViewBag.Title = "SachTheoChuDe";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<link rel="stylesheet" href="~/Content/TieuThuyet.css" />
<link rel="stylesheet" href="~/Content/ProductStylePro.css" />
<div class="div-left-title">
    <div>
        <a href="@Url.Action("Home", "TrangChu")">Trang chủ</a>&nbsp;&gt;&nbsp;<span>@ViewBag.Topic</span>
    </div>
</div>
<div class="div-left-info">
    <div class="Menu-Choice">
        <div class="Title-Choice">GIÁ</div>
        <ol>
            <li>
                <a href="@Url.Action("ChonSachQuaIDChuDe", "SACHes", new { num = "Default", id = cd})" target="_self" class="PriceOption">Default</a>
            </li>
            <li>
                <a href="@Url.Action("ChonSachQuaIDChuDe", "SACHes", new { num = "0", id = cd})" target="_self" class="PriceOption">0₫ - 150,000₫</a>
            </li>

            <li>
                <a href="@Url.Action("ChonSachQuaIDChuDe", "SACHes", new { num = "150000", id = cd})" target="_self" class="PriceOption">150,000₫ - 300,000₫</a>
            </li>

            <li>
                <a href="@Url.Action("ChonSachQuaIDChuDe", "SACHes", new { num = "300000", id = cd})" target="_self" class="PriceOption">300,000₫ - 500,000₫</a>
            </li>

            <li>
                <a href="@Url.Action("ChonSachQuaIDChuDe", "SACHes", new { num = "500000", id = cd})" target="_self" class="PriceOption">500,000₫ - 700,000₫</a>
            </li>

            <li>
                <a href="@Url.Action("ChonSachQuaIDChuDe", "SACHes", new { num = "700000", id = cd})" target="_self" class="PriceOption">700,000₫ - Trở lên</a>
            </li>
        </ol>
    </div>
</div>
<div class="container-fluid div-right-product">
    <div style=" margin-top: 10px; margin-bottom: 20px;">CHỌN LỌC: @ViewBag.From - @ViewBag.To</div>
    <div class="row product" id="list1">
        @foreach (var item in Model)
        {
            if (item.Dongia >= from && item.Dongia <= to)
            {
                <div class="card" style="width: 18rem; margin: 10px auto; position: relative; left: 13.5px">
                    <a href="@Url.Action("ChiTiet", "TrangChu", new { id = item.Masach, @class = "btn btn-primary" })" target="_self" style="text-decoration: none;">
                        <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Hinhminhhoa)" alt="@Html.DisplayFor(modelItem => item.Hinhminhhoa) bị lỗi" class="card-img-top" />
                    </a>
                    <div class="card-body">
                        <a class="card-text" href="@Url.Action("ChiTiet", "TrangChu", new { id = item.Masach, @class = "btn btn-primary" })" target="_self" style="text-decoration: none; color: black; font-size: 125%;">
                            @Html.DisplayFor(modelItem => item.Tensach)
                        </a>
                        <h5 class="card-title" style="color: rgb(189, 33, 36); font-weight: bolder; margin-top: 10px;">@Html.DisplayFor(modelItem => item.Dongia)0đ</h5>
                    </div>
                </div>
            }

        }
    </div>
</div>