@using WebBanSach.Models
@model List<CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<link rel="stylesheet" href="~/Content/Cart.css"/>
<div class="Amount-Bar">
    <h4 style="text-align: left">GIỎ HÀNG (@ViewBag.TotalNumber sản phẩm)</h4>
</div>
<div class="Order-Board">
    <table class="table table-bordered">
        <thead>
            <tr class="fix-table">
                <th>Mã sách</th>
                <th>Tên sách</th>
                <th>Ảnh sách</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sach in Model)
            {

                <tr>
                    <td>ATF @Html.DisplayFor(modelItem => @sach.MaSach)</td>
                    <td>
                        <a href="@Url.Action("ChiTiet", "TrangChu", new {id = @sach.MaSach, @class = "btn btn-primary"})" target="_self" style="text-decoration: none; color: rgb(255 0 172);">
                           @sach.TenSach
                        </a>
                    </td>
                    <td style="text-align: center;">
                        <a href="@Url.Action("ChiTiet", "TrangChu", new {id = @sach.MaSach, @class = "btn btn-primary"})" target="_self" style="text-decoration: none; color: rgb(255 0 172);">
                            <img src="~/Content/Images/@sach.ImageFile" alt="@sach.ImageFile bị lỗi" style="width: 60%" />
                        </a>
                    </td>
                    <td>@sach.Number</td>
                    <td>@Math.Round(sach.Price, 3)đ</td>
                    <td>@Math.Round(sach.Total(), 3)đ</td>
                </tr>
            }
            <tr style="font-weight: bold; text-align: right; color: rgb(255 0 148)">
                <td colspan="5">Tổng số lượng: @ViewBag.TotalNumber</td>
                <td colspan="1">Tổng tiền: @Math.Round(@ViewBag.TotalPrice, 3)đ</td>
            </tr>
        </tbody>
    </table>
</div>

