@model WebBanSach.Models.SACH
@{

    ViewBag.Title = "Thông tin về sách";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<link rel="stylesheet" href="~/Content/Detail.css" />
<div>
    <a href="@Url.Action("Home", "TrangChu")" class="div-title">Trang chủ</a>&nbsp;&gt;&nbsp;<div style="display: inline-block; font-size: 15px; font-weight: bold;">@Html.ActionLink(Model.CHUDE.TenChuDe, "ChonSachQuaIDChuDe", "SACHes", new { num = "Default", id = Model.MaCD }, new { @class = "list-group-item action-link LinkType" })</div>&nbsp;&gt;&nbsp;<span class="current-title">@ViewBag.Title</span>
</div>
<div class="Describe-Box">
    <div class="row">
        <div class="col-md-4">
            <img style="width: 80%; height: auto; margin: 20px; border-radius: 8px;" src="~/Content/Images/@Model.Hinhminhhoa">
        </div>
        <div class="col-md-8" style="margin-top: 20px;">
            <div style="width: auto;">
                <h4>@Model.Tensach</h4>
                <p class="price">
                    <span style="color:red; font-size:24px;">
                        @String.Format("{0:0,0}", Model.Dongia),000đ
                    </span>
                </p>
                @using (Html.BeginForm("AddToCart", "Cart", new { id = Model.Masach }))
                {
                    <button class="btn btn-primary ThemSanPham" type="submit" name="request" value="Thêm">THÊM VÀO GIỎ HÀNG</button>
                    <button class="btn btn-primary MuaSanPham" type="submit" name="request" value="Mua">MUA NGAY</button>
                    <p style="margin-top: 35px; color: rgb(66 199 172); font-weight: bold">Số lượng: <input style="width: 30%; margin-left: 30px; color: rgb(255 0 172); background-color: rgb(201 255 139); border-color:rgb(110 255 53)" type="number" min="1" max="50" value="1" name="Quanlity" /></p>
                }

            </div>
        </div>
    </div>
</div>
<div class="Content-Box">
    <div class="col-md-12" style="text-align: left; font-size: 1.1em; font-weight: 500; margin-left: 17px;">
        Thông tin sản phẩm
    </div>
    <table class="table-product" border="1">
        <tr>
            <td class="NameDetail">
                Mã sách
            </td>
            <td class="InfoDetail">
                ATF @Html.DisplayFor(modelItem => @Model.Masach)
            </td>
        </tr>

        <tr>
            <td class="NameDetail">
                Thể loại
            </td>
            <td class="InfoDetail">
                @Model.CHUDE.TenChuDe
            </td>
        </tr>

        <tr>
            <td class="NameDetail">
                Tên tác giả
            </td>
            <td class="InfoDetail">
                @Model.TACGIA.TenTG
            </td>
        </tr>

        <tr>
            <td class="NameDetail">
                Nhà xuất bản
            </td>
            <td class="InfoDetail">
                @Model.NHAXUATBAN.TenNXB
            </td>
        </tr>

        <tr>
            <td class="NameDetail">
                Ngày xuất bản
            </td>
            <td class="InfoDetail">
                @Model.Ngaycapnhat.Value.ToShortDateString()
            </td>
        </tr>
    </table>

    <div style="clear: both; border-bottom: groove; margin-top: 20px;"></div>
    <div class="col-md-12" style="text-align: left; margin-left: 17px; ">
        <p style="-webkit-text-size-adjust: auto; font-size: 0.9em;">
            <h5 >Nội dung sách:</h5>
        </p>
        <p style="margin-right: 30px; font-size: medium; text-align: justify; -webkit-text-size-adjust: auto; font-size: 0.7em;">
            @Model.Mota
        </p>
    </div>
</div>