@model WebBanSach.Models.SACH
@{

    ViewBag.Title = "Thông tin về sách";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<link rel="stylesheet" href="~/Content/Detail.css" />
<div>
    <a href="@Url.Action("Home", "TrangChu")" class="div-title">Trang chủ</a>&nbsp;&gt;&nbsp;<a href="" id="links" onclick="links()" class="div-title" style="display: inline-block">@Model.CHUDE.TenChuDe</a>&nbsp;&gt;&nbsp;<span class="current-title">@ViewBag.Title</span>
</div>
<div class="Describe-Box">
    <div class="row">
        <div class="col-md-4">
            <img style="width: 80%; height: auto; margin: 20px; border-radius: 8px;" src="~/Content/Images/@Model.Hinhminhhoa">
        </div>
        <div class="col-md-8" style="margin-top: 20px;">
            <h4>@Model.Tensach</h4>
            <p style="text-align: justify">
                <span style="font-weight: bold">Thể loại:</span> @Model.CHUDE.TenChuDe
            </p>
            <p class="price">
                <span style="color:red; font-size:24px;">
                    @Html.DisplayFor(modelItem => @Model.Dongia)0đ
                </span>
            </p>
            <a class="btn btn-primary" style="background-color: rgb(189, 33, 36); width: 25%; border-radius: 8px; border: none" href="@Url.Action("AddToCart", "Cart", new {id = Model.Masach })">ĐẶT MUA</a>
        </div>
    </div>
</div>
<div class="Content-Box">
    <div class="col-md-12" style="text-align: center">
        <h4 style="-webkit-text-size-adjust: auto">
            Thông tin sản phẩm
        </h4>
    </div>
    <div class="col-md-12" style="text-align: left">
        <p style="font-size: medium; -webkit-text-size-adjust:auto">
            Tên tác giả: <b>@Model.TACGIA.TenTG</b>
        </p>
    </div>
    <div class="col-md-12" style="text-align: left">
        <p style="font-size: medium; -webkit-text-size-adjust:auto">
            Nhà xuất bản: <b>@Model.NHAXUATBAN.TenNXB</b>
        </p>
    </div>
    <div class="col-md-12" style="text-align: left">
        <p style="font-size: large; -webkit-text-size-adjust: auto">
            <b>Nội dung sách:</b>
        </p>
        <p style="margin-left: 25px; margin-right: 30px; font-size: medium; text-align: justify; -webkit-text-size-adjust: auto">
            @Model.Mota
        </p>
    </div>
</div>


<script type="text/javascript">
    links();
    function links() {
        const link = document.getElementById("links");

        if (@Model.MaCD == 12)
        {
            link.href = "@Url.Action("TieuThuyetPage", "SACHes")";
        }
        if (@Model.MaCD == 13)
        {
            link.href = "@Url.Action("TruyenTranhPage", "SACHes")";
        }
        if (@Model.MaCD == 14)
        {
            link.href = "@Url.Action("LapTrinhPage", "SACHes")";
        }
    }
</script>