@model IEnumerable<WebBanSach.Models.SACH>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<link rel="stylesheet" href="~/Content/ProductStylePro.css" />
@Html.Action("ADPartial", "TrangChu")

<div class="div-center-PopularProducts">
    <h2 style="text-align: center; color: rgb(255 46 149);">Những cuốn sách tiểu biểu</h2>
    <link rel="stylesheet" href="~/Content/ProductStylePro.css" />
    <div class="row product">
        @foreach (var item in Model)
        {
            if (item.Masach < 13)
            {
                <div class="card" style="width: 18rem; margin: 10px auto; position: relative; left: 13.5px">
                    <a href="@Url.Action("ChiTiet", "TrangChu", new {id = item.Masach, @class = "btn btn-primary"})" target="_self" style="text-decoration: none;">
                        <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Hinhminhhoa)" alt="@Html.DisplayFor(modelItem => item.Hinhminhhoa) bị lỗi" class="card-img-top" />
                    </a>
                    <div class="card-body">
                        <div>
                            <a class="card-text" href="@Url.Action("ChiTiet","TrangChu", new {id = item.Masach, @class = "btn btn-primary"})" target="_self" style="text-decoration: none; color: black; font-size: 125%">
                                @Html.DisplayFor(modelItem => item.Tensach)
                            </a>
                        </div>

                        <h5 class="card-title" style="color: rgb(189, 33, 36); font-weight: bolder; margin-top: 10px;">@Html.DisplayFor(modelItem => item.Dongia)0đ</h5>
                    </div>
                </div>
            }
        }
    </div>
</div>


<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    PicAnim();

    function PicAnim() {
        var i;
        var x = document.getElementsByClassName("ADs-Image");
        var dots = document.getElementsByClassName("image-button-circle");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > x.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" badge-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " badge-white";
        setTimeout(PicAnim, 7000);
    }

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("ADs-Image");
        var dots = document.getElementsByClassName("image-button-circle");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" badge-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " badge-white";
    }
</script>
